<h1>Editing time zone name</h1>

<%= render "form", time_zone_name: @time_zone_name %>

<br>

<div>
  <%= link_to "Show this time zone name", @time_zone_name %> |
  <%= link_to "Back to time zone names", time_zone_names_path %>
</div>
