<!-- Importing new data -->
<% if current_user %>
  <div class="container border border-secondary border-3 rounded-3 p-2">
    <!-- form_with is more modern, although url is not intuitive to me. -->
    <%= form_with model: @blood_pressures, url: { action: "import_data" } do |form| %>
      <%= form.label :statdate, "Import iOS Health Data: ", class: "fs-3" %>
      <%= form.file_field :health_exported_zip %>
      <%= submit_tag( "Import" ) %>
    <% end %>
  </div>
<% end %>
