<div class="m-3">
  <h1>Edit blood stat</h1>

  <%= render "comment", blood_pressure: @blood_pressure %>

  <br>

  <div>
    <%#= link_to "Show this blood stat", @blood_pressure %>
    <%= link_to "Back to blood stats", blood_pressures_path %>
  </div>
</div>
