<!-- Before Turbo -->
<div class="m-3">
  <h1>Edit blood stat</h1>
  <%= render "comment", blood_pressure: @blood_pressure %>
  <br>

  <div>
    <%= link_to "Back to blood stats", blood_pressures_path %>
  </div>
</div>

<!-- Above works, below redirects to the wrong place -->

<!-- With some Turbo but not rendering correctly -->
<!-- <div class="m-3">
  <h1>Edit blood stat</h1>
  <%#= turbo_frame_tag @blood_pressure do %>
    <%#= form_with(model: @blood_pressure) do |form| %>
      <div class="inline-field">
       <%#= render "comment", blood_pressure: @blood_pressure %>
      </div> -->
      <!-- <div class="actions">
        <%#= form.submit %> This is in the render except that redirect isn't correctly
      </div> -->
    <!-- <%# end %>
  <%# end %> -->
</div>
