<!-- <h1>New blood stat</h1> -->
FORM
<%= turbo_frame_tag "new-bp-form", class: "" do %>
  <%= render "form", blood_pressure: @blood_pressure %>
<% end %>
<!-- <br>

<div>
  <%#= link_to "Back to blood pressure table", bps_path %>
</div> -->
