<div id="notice" data-controller="flash">
  <% if notice.present? %>
<!-- Deleted Tailwind formatting from Cezar -->
    <div class="">
      <p class=""><%= notice %></p>
    </div>
  <% end %>
</div>
